.benefits-item {
  text-decoration: none;
  position: relative;
}

@media (min-width: $tablet-width) {
  .benefits-item {
    width: 33.33%;
  }
}

.benefits-item__wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.benefits-item__content {
  width: 100%;
}

.benefits-item__image {
  min-width: 100%;
  height: 260px;
  object-fit: cover;
  display: block;
}

@media (min-width: $tablet-width) {
  .benefits-item__image {
    min-width: 66.66%;
    height: 256px;
  }

  .benefits-item--reverse {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }
}

.benefits-item:nth-child(4)::before,
.benefits-item:nth-child(4)::after {
  content: "";
  position: absolute;
  width: 88%;
  height: 1px;
  background-color: $delimiter-color;
  left: 6%;
}

@media (min-width: $tablet-width) {
  .benefits-item:nth-child(4)::before,
  .benefits-item:nth-child(4)::after {
    height: 0;
  }
}

.benefits-item:nth-child(4)::after {
  top: 99%;
}


.benefits-item--mask {
  padding-top: 34px;
  position: relative;
  fill: $background-page-content;
}

@media (min-width: $tablet-width) {
  .benefits-item--mask {
    padding-top: 0;
  }
}

.benefits-item__mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $background-content-focus;
}

@media (min-width: $tablet-width) {
  .benefits-item__mask {
    display: none;
  }
}

.benefits-item image {

  width: 100%;
}
