.benefits-item {
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .benefits__item:first-child {
    display: grid;
    grid-template-areas:
      "gr-text gr-image gr-image"
      "gr-list gr-list gr-list";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:
      256px
      256px;
    // grid-gap: 10px;
    // min-height: 100vh;
  }

  .benefits-item__content {
    grid-area: gr-text;
  }

  @media (min-width: $tablet-width) {
    .benefits-item__content {
      width: 256px;
    }
  }

  @media (min-width: $desktop-width) {
    .benefits-item__content {
      width: 400px;
    }
  }

  .benefits-item--reverse {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .benefits__item:first-child {
    display: grid;
    grid-template-areas:
      "gr-text gr-image gr-image"
      "gr-list gr-list gr-list";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:
      256px
      256px;
  }

  .benefits-item__image {
    grid-area: gr-image;
  }

  @media (min-width: $tablet-width) {
    .benefits-item__image {
      width: 512px;
    }
  }

  @media (min-width: $desktop-width) {
    .benefits-item__image {
      width: 800px;
    }
  }

  .benefits-item--reverse {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }
}
