// Начните писать стили здесь
.button {
  background-color: #81b3d2;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 1.24;
  font-weight: 700;
  text-decoration: none;
}
