.button {
  background-color: $background-button;
  color: $text-color-button;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 1.24;
  font-weight: 700;
  text-decoration: none;
  padding: 14px 36px 18px 36px;
}
