@media (min-width: $tablet-width) {
  .button-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .button-wrapper {
    flex-wrap: nowrap;
  }
}
