.form-location {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

@media (min-width: $desktop-width) {
  .form-location {
    justify-content: space-between;
  }
}

.form-location__checkbox {
  margin-top: 14px;
}

@media (min-width: $tablet-width) {
  .form-location__checkbox {
    width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .form-location__checkbox {
    width: auto;
  }
}
