.form-location {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 20px 16px 20px;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .form-location {
    padding: 20px 0 0 0;
  }
}

@media (min-width: $desktop-width) {
  .form-location {
    justify-content: space-between;
  }
}

.form-location__checkbox {
  margin-top: 14px;
}

@media (min-width: $tablet-width) {
  .form-location__checkbox {
    width: 47%;
    margin-top: 26px;
  }
}

@media (min-width: $desktop-width) {
  .form-location__checkbox {
    width: auto;
  }
}
