.form-heading {
  font-size: 18px;
  line-height: 1.44;
  text-transform: uppercase;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.form-heading--radio {
  margin-bottom: 18px;
}

@media (min-width: $tablet-width) {
  .form-heading--radio {
    margin-bottom: 50px;
    margin-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .form-heading--radio {
    margin-left: 80px;
  }
}


@media (min-width: $tablet-width) {
  .form-heading {
    font-size: 21px;
    line-height: 1.24;
  }
}

@media (min-width: $tablet-width) {
  .form-heading--fullname {
    margin: 0 0 31px 0;
  }
}

@media (min-width: $tablet-width) {
  .form-heading--checkbox {
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .form-heading--delimiter {
    position: relative;

    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 120px;
      height: 1px;
      background-color: $delimiter-color;
      top: 43%;
      left: -186px;
    }

    &::after {
      left: 342px;
    }
  }
}

@media (min-width: $desktop-width) {
  .form-heading--delimiter {
    &::before,
    &::after {
      width: 280px;
      left: -349px;
    }

    &::after {
      left: 332px;
    }
  }
}
