.form-comment {
  padding-top: 20px;
}

@media (min-width: $tablet-width) {
  .form-comment {
    padding: 20px 0;
  }
}

@media (min-width: $tablet-width) {
  .form-comment__title {
    margin-bottom: 44px;
  }
}
