.form-rating {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;
  padding-bottom: 20px;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .form-rating {
    order: -2;
    width: 50%;
    margin: 0;
    padding: 0;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.form-rating__title {
  margin-bottom: 20px;
}
