.form-fullname__title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.44;
}

.form-fullname__element {
  margin-top: 24px;
  margin-bottom: 0;
  overflow: hidden;
}

@media (min-width: $tablet-width) {
  .form-fullname {
    order: -1;
    width: 50%;
    margin: 0;
    padding: 0;
    align-items: center;
  }
}
