.gallery-photo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gallery-photo__link,
.gallery-photo__link picture {
  width: 100%;
}

.gallery-photo__image {
  display: block;
  width: 100%;
  height: auto;
  // object-fit: none;
}

@media (min-width: $tablet-width) {
  .gallery-photo__image {
    // height: 400px;
  }
}

@media (min-width: $tablet-width) {
  .gallery-photo__wrapper-tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 80px;
  }
}

@media (min-width: $desktop-width) {
  .gallery-photo__wrapper-tablet {
    position: absolute;
    bottom: 0;
    background-color: $background-gallery-and-player;
    color: $text-color-nav;
  }
}

.gallery-photo__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .gallery-photo__wrapper {
    padding-left: 20px;
  }
}

.gallery-photo__name {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: $content-title-color;
  padding: 0;
  margin-top: 9px;
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .gallery-photo__name {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .gallery-photo__name {
    color: $text-color-nav;
  }
}

.gallery-photo__author {
  margin: 0;
}

.gallery-photo__like {
  margin-top: 12px;
  display: flex;
}

@media (min-width: $tablet-width) {
  .gallery-photo__like {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .gallery-photo__like {
    color: $text-color-nav;
  }
}

// @media (min-width: $tablet-width) {
//   .gallery-photo__image--big {
//     height: auto;
//   }
// }

// @media (min-width: $desktop-width) {
//   .gallery-photo__image--big {
//     position: relative;
//   }
// }
