.gallery {
  list-style: none;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
}

@media (min-width: $tablet-width) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 0;
    margin-left: 60px;
    margin-right: 60px;
  }
}

@media (min-width: $desktop-width) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0;
  }
}

.gallery__item {
  padding-top: 22px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
  min-width: 320px;
}

@media (min-width: $tablet-width) {
  .gallery__item:first-child {
    grid-column: 1/-1;
  }
}
