.like-meter {
  display: flex;
  flex-direction: row;
  font-weight: 700;
  line-height: 1.71;
  color: $content-title-color;
}

@media (min-width: $tablet-width) {
  .like-meter {
    min-width: 82px;
  }
}

.like-meter__button {
  width: 22px;
  height: 22px;
  z-index: 2;
  display: block;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .like-meter__button {
    padding-right: 30px;
  }
}

.like-meter__likes {
  margin-left: 14px;
}

@media (min-width: $tablet-width) {
  .like-meter__likes {
    margin-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .like-meter__likes {
    color: $text-color-nav;
  }
}

.like-meter__icon {
  fill: $content-title-color;
  fill-opacity: 0.3;
}

@media (min-width: $desktop-width) {
  .like-meter__icon {
    fill: $text-color-nav;
    fill-opacity: 1;
  }
}
