.logo {
  width: 102px;
  height: 84px;
  z-index: 4;
}

@media (min-width: $desktop-width) {
  .logo {
    width: 186px;
    height: 96px;
    transform: translate(50%);
  }
}

@media (min-width: $desktop-width) {
  .logo__logo-image {
    transform: translate(-42px);
  }
}
