.main-nav {
  color: $text-color-nav;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-bottom: 56px;
}

.main-nav__wrapper {
  display: block;
  min-width: 320px;
  z-index: 3;
}

.main-nav__list {
  align-items: center;
  width: 100%;
}

.main-nav__toggle {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 17px;
  right: 17px;
  z-index: 2;
  display: block;
  cursor: pointer;
  border: none;
  background-color: $background-page-content;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 4px;
  background-color: $background-button;
  box-shadow: 0 8px 0 0 $background-button, 0 16px 0 0 $background-button;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__wrapper {
    display: flex;
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    display: block;
    width: 1200px;
  }
}
