.page-wrapper {
  background-color: $background-page-content;
  min-width: 320px;
}

@media (min-width: $desktop-width) {
  .page-wrapper {
    min-width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .page-wrapper {
    width: 1200px;
    box-shadow: $page-shadow;
    margin-left: auto;
    margin-right: auto;
  }
}
