.page__body {
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.44;
  color: $content-text-color;
  height: 100%;
  width: 100%;
}
