.page-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  height: 84px;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    flex-direction: row;
  }

  .page-header__nav {
    display: flex;
    flex-direction: row;
  }

  .page-header__link {
    order: 2;
  }
}
