.radio {
  position: relative;
  padding: 21px 0;
}

.radio__button:checked + .radio__label::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $content-text-color;
  top: 37%;
  left: 18px;
}

.radio__label {
  padding-left: 74px;

  &::before {
    position: absolute;
    content: "";
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: $background-form-input;
    top: 10%;
    left: 0;
  }
}
