.radio {
  position: relative;
  padding: 21px 0;
}

@media (min-width: $tablet-width) {
  .radio {
    margin-bottom: 10px;
    padding-left: 20px;
  }
}

.radio__button:checked + .radio__label::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $content-text-color;
  top: 37%;
  left: -4px;
}

.radio__label:active::after {
  opacity: 0.3;
}

.radio__label {
  padding-left: 54px;

  &::before {
    position: absolute;
    content: "";
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: $background-form-input;
    top: 10%;
    left: -22px;
  }

  &:hover::before {
    background-color: $background-form-input-hover;
  }

  &:active::before {
    background-color: $background-form-radio-active;
  }
}

@media (min-width: $tablet-width) {
  .radio__label::before {
    top: 10%;
    left: 0;
  }
}

@media (min-width: $tablet-width) {
  .radio__button:checked + .radio__label::after {
    top: 37%;
    left: 18px;
  }
}
