.selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding-bottom: 50px;
  min-width: 320px;
}

.selection__content {
  background-color: $text-color-nav;
}

@media (min-width: $tablet-width) {
  .selection__content {
    width: 458px;
  }
}
