.services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 20px;
  width: 92%;
  padding-top: 20px;

  &:first-child {
    padding-top: 25px;
  }

  &:nth-child(2) {
    padding-left: 23px;
  }

  &:last-child {
    padding-top: 18px;
  }
}

@media (min-width: $tablet-width) {
  .services {
    padding-top: 56px;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    width: 28%;

    &:first-child {
      padding-top: 56px;
    }

    &:last-child {
      padding-top: 56px;
    }

    &:nth-child(2) {
      order: 3;
      padding-left: 0;
    }
  }
}

.services__image {
  fill: $background-socials;
}

@media (min-width: $tablet-width) {
  .services__image {
    width: 74px;
    height: 72px;
  }
}

.services__text {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 14px;
  margin: 0;
  margin-left: 10px;
}

@media (min-width: $tablet-width) {
  .services__text {
    font-size: 21px;
    line-height: 1.24;
    margin-left: 0;
    padding-top: 26px;
    padding-bottom: 22px;
  }
}

.services__description {
  line-height: 1.5;
  margin: 0;
  padding-left: 50px;
  padding-top: 0;
  padding-bottom: 2px;
  text-transform: uppercase;
  width: 96%;
}

@media (min-width: $tablet-width) {
  .services__description {
    padding-bottom: 0;
    text-align: center;
    padding-left: 12px;
  }
}

@media (min-width: $desktop-width) {
  .services__description {
    width: 80%;
  }
}
