.services-list {
  text-decoration: none;
  margin: 0;
  padding-left: 0;
  padding-bottom: 34px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .services-list {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-bottom: 60px;
  }
}

@media (min-width: $desktop-width) {
  .services-list {
    padding-bottom: 82px;
  }
}
