.services-list {
  text-decoration: none;
  margin: 0;
  padding: 0;
  padding-top: 36px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .services-list {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
