// Начните писать стили здесь
.site-list {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.22;
}
