.site-list {
  display: flex;
  flex-direction: column;
  color: $text-color-nav;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.22;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .site-list__item {
    padding-right: 20px;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .site-list__item {
    padding-right: 20px;
  }
}
