// @media (min-width: $desktop-width) {
//   .svg-icon--like-image {
//     fill: $text-color-nav;
//     opacity: 1;
//   }
// }

.copyright__link:hover .svg-icon--academy-image {
  fill: $background-content-focus;
}

.copyright__link:active .svg-icon--academy-image {
  fill: $content-title-color;
  opacity: 0.3;
}
