.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  text-transform: uppercase;
  min-width: 320px;
  height: auto;
  line-height: 1.86;
}

@media (min-width: $tablet-width) {
  .title {
    min-width: 520px;
    padding-top: 44px;
    padding-bottom: 54px;
  }
}

.title__header {
  font-weight: 700;
  margin: 0;
  padding-top: 32px;
  line-height: 1.24;
  font-size: 21px;
}

@media (min-width: $tablet-width) {
  .title__header {
    padding-top: 0;
    margin-bottom: 30px;
  }
}

// @media (min-width: $tablet-width) {
//   .title-header {
//     font-size: 30px;
//     line-height: 0.87;
//   }
// }

.title__text {
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
  // padding-top: 26px;
  // padding-bottom: 28px;
  color: $content-text-color;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .title__text {
    line-height: 1.86;
  }
}
