.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 0;
  text-transform: uppercase;
  height: auto;
  line-height: 1.86;
}

@media (min-width: $tablet-width) {
  .title {
    min-width: 520px;
    padding-top: 32px;
    padding-bottom: 54px;
  }
}

@media (min-width: $desktop-width) {
  .title {
    padding-bottom: 40px;
  }
}

.title__header {
  font-weight: 700;
  margin: 0;
  padding-top: 9px;
  line-height: 1.44;
  font-size: 18px;
  width: 270px;
}

@media (min-width: $tablet-width) {
  .title__header {
    font-weight: 700;
    margin: 0;
    line-height: 1.24;
    font-size: 21px;
    width: 80%;
  }
}

@media (min-width: $desktop-width) {
  .title__header {
    padding-top: 24px;
  }
}

.title__text {
  font-size: 14px;
  line-height: 1.86;
  margin-top: 32px;
  color: $content-text-color;
  width: 270px;
}

@media (min-width: $tablet-width) {
  .title__text {
    line-height: 1.86;
    width: 80%;
    margin-bottom: 0;
  }
}

.title--subpage {
  padding-bottom: 17px;
  padding-top: 36px;
}

@media (min-width: $tablet-width) {
  .title--subpage {
    padding-top: 62px;
  }
}

@media (min-width: $desktop-width) {
  .title--subpage {
    padding-top: 114px;
  }
}

.title__header--subpage {
  padding-top: 0;
}

@media (min-width: $tablet-width) {
  .title__header--subpage {
    font-size: 30px;
    line-height: 0.87;
  }
}

.title__text--subpage {
  line-height: 1.71;
  margin-top: 28px;
  width: 90%;
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .title__text--subpage {
    font-size: 14px;
    line-height: 1.71;
    padding: 6px 126px 0 126px;
  }
}

@media (min-width: $desktop-width) {
  .title__text--subpage {
    font-size: 14px;
    line-height: 1.71;
    padding: 6px 320px 0 320px;
  }
}
