$background-button: #81b3d2;
$text-color-button: #ffffff;
$text-color-nav: #ffffff;
$background-content-focus: #81b3d2;
$background-content: #eeeeee;
$background-socials: #81b3d2;
$content-text-color: #333333;
$content-title-color: #000000;
$background-form-input: #f2f2f2;
$page-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
$background-page-content: #ffffff;
$background-page-wrapper: #e7e5e5;
$border-shadow-top: 0 1px 0 rgba(1, 1, 1, 0.2);
$border-shadow-bottom: 0 1px 0 rgba(255, 255, 255, 0.2);
$delimiter-color: #d6d6d6;
$mobile-menu-item-hover: #669ec0;
$mobile-menu-item-active: #5496bd;
$opacity-text-active: rgba(255, 255, 255, 0.3);
$nav-link-active: #766357;
$nav-link-active-hover: #604e43;
